## OOPs
class Employee():
    pass

In [3]:
class Employee():
pass
emp1 = Employee()
emp2 = Employee()

In [4]:
print(emp1)

<__main__.Employee object at 0x00000220EF161550>

In [5]:
print(emp2)

<__main__.Employee object at 0x00000220EEBC5090>

In [6]:
emp1.first = 'Harshada' #instance variable
emp1.last = 'Shinde'
emp1.salary = 20000

In [7]:
emp2.first = 'Ankita'
emp2.last ='Dange'
emp2.salary = 10000

print(emp1.first)

In [9]:
print(emp1.first)

Harshada

In [10]:
print(emp2.first)

Ankita

In [30]:
#Encapsulation
#Making public variables private using __
class Employee():
    
    def __init__(self, first, last, salary):
        self.first= first
        self.last=last
        self.__salary=salary #private variable
        
    def msg(self):
        print('First Name:',self.first, '\nLast Name:', self.last, '\nSalary:', self.salary)

In [21]:
emp1 = Employee('Harshada','Shinde',20000)
emp2 = Employee('Ankita','Dange',10000)

In [22]:
print(emp1.salary)

20000

In [26]:
emp1.msg()

First Name: Harshada Last Name: Shinde Salary: 20000

In [27]:
emp1 = Employee('Harshada','Shinde',20000)
emp2 = Employee('Ankita','Dange',10000)

20000

In [29]:
print(emp1.salary)

20000

## Inheritance

In [33]:
class Employee2(Employee): # subclass of employee -uses all methods from employee one
    pass

In [34]:
emp3 = Employee2('Riya','Sharma',45000)

In [36]:
emp3.first

'Riya'